{% extends 'base.html' %}

{% block content %}


    
       <!-- <div class="banniere">
            <div class="banImage">
                <div class="banDesc">
                    <h3> DO IT NOW RUN ON AIR </h3>
                    <h2> RUNNING SHOES</h2>
                    <button class="btnBan">voir</button>
                    <img src="static\Images\img_01.png" alt="">
                </div>  
                
            </div>
        </div>
        -->
        
        
        <section class="banniere">
            <div class="banniere-text">
                <h5>Confort ultime</h5>
                <h1>Style assuré</h1>
                <p>
                    Faites chaque pas avec élégance grâce à un design unique et un confort exceptionnel.
            
                </p>
                <div class="main-hero">
                    <a href="{% url 'index' %}" class="btn_order">Order Now</a>
                    <a href="" class="reduction">
                        -50% |<span> de reduction </span>
                    </a>
                </div>
            </div>

            <div class="banniere-img">
                <img src="static\Images\AIR+FORCE+1+LV8+3+(GS)_png.png" alt="">
            </div>
        </section>

        <div class="scroll">
            <a href=""> 
                <i class="ri-scroll-to-bottom-line"></i>
                Scroll Down
            </a>
        </div>



{% endblock %}



 <h1>Nos Produits</h1><br><br>
  <!-- <h3>{{product.name}} : {{product.price}} $</h3>
    <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 180px;">
    <a href="{{product.get_absolute_url}}">Voir l'article</a>
-->